/* Language & Code by 0201._ */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  zoom: 90%;
}

.container {
  display: flex;
  width: 100%;
  max-width: 575px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container h1 {
  font-size: 2em !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.translator {
  display: flex;
  align-items: center;
  width: 100%;
}

.translator .col {
  display: flex;
  justify-content: right;
  margin: 10px;
  width: 100%;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.8s ease;
}

.parent {
  position: absolute;
  margin: 15px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.speak g {
  transition: all 0.5s ease;
}

.speak-hover:hover > svg > g {
  fill: #999999 !important;
}

.translator textarea {
  font-family: "Manrope", sans-serif;
  width: 100%;
  padding: 15px;
  padding-right: 60px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  resize: none;
  outline: none;
}

.translator .col:hover {
  box-shadow: 0 10px 10px -10px #ccc;
}

.translator .col:focus {
  box-shadow: 0 10px 10px -10px #ccc;
}

.translator button {
  font-family: "Manrope", sans-serif;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #8f36f5;
  color: white;
  cursor: pointer;
  transition: all 0.8s ease;
  outline: none;
  align-content: content;
}

.translator button:hover {
  box-shadow: 0 10px 10px -10px #a561f2;
  background-color: #a151fc;
}

.translator button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  vertical-align: middle;
  color: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-28 {
  margin-top: 20px;
  margin-bottom: 30px;
  --size: 25px;
  position: relative;
}

.checkbox-wrapper-28 *,
.checkbox-wrapper-28 *:before,
.checkbox-wrapper-28 *:after {
  box-sizing: border-box;
}

.checkbox-wrapper-28 .promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-28 svg {
  stroke: #6e6e6e;
  stroke-width: 3px;
  height: calc(var(--size) * 0.6);
  width: calc(var(--size) * 0.6);
  position: absolute;
  left: calc(var(--size) * 0.21);
  top: calc(var(--size) * 0.2);
  stroke-dasharray: 33;
  opacity: 0;
}

.checkbox-wrapper-28 input:checked ~ svg {
  -webkit-animation: draw-checkbox-28 ease-in-out 0.25s forwards;
  animation: draw-checkbox-28 ease-in-out 0.25s forwards;
}

.checkbox-wrapper-28 input:not(:checked) ~ svg {
  -webkit-animation: erase-checkbox-28 ease-in-out 0.25s forwards;
  animation: erase-checkbox-28 ease-in-out 0.25s forwards;
}

.checkbox-wrapper-28 label::after {
  transition: all 0.8s ease;
}

.checkbox-wrapper-28 label:active::after {
  background-color: #e6e6e6;
}

.checkbox-wrapper-28 label {
  color: #6e6e6e;
  line-height: var(--size);
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-label {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.checkbox-wrapper-28 label:after {
  content: "";
  height: var(--size);
  width: var(--size);
  margin-right: 8px;
  float: left;
  border: 2px solid #6e6e6e;
  border-radius: 5px;
  transition: 0.15s all ease-out;
}

@-webkit-keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@-webkit-keyframes erase-checkbox-28 {
  0% {
    stroke-dashoffset: 0;
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 33;
    opacity: 0;
  }
}

@keyframes erase-checkbox-28 {
  0% {
    stroke-dashoffset: 0;
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 33;
    opacity: 0;
  }
}
